@import url(/Styles/telaJogo.css);
@import url(/Styles/passaro.css);
@import url(/Styles/obstaculos.css);
@import url(/Styles/modalDerrota.css);
@import url(/Styles/telaInicial.css);
@import url(/Styles/modalRegras.css);
@import url(/Styles/modalContagem.css);
@import url(/Styles/pontuacao.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fontPixel;
    src: url(/Assets/fonts/batmfa__.ttf);
    font-display: swap;
}