.passaro{
    position: absolute;
    width:3vw;
    height: 5vh;
    background-image: url(/Assets/images/passaro.png);
    background-size: contain;
    background-repeat:no-repeat ;
    top: 300px;
    left: 20%;
    transform: translateY(-50%);
}


